* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0.5rem;
  outline: none;
  background: black;
  font-size: 17px;
  color: #fff;
}
h2 {
  color: #fff;
  font-size: 2.3rem;
}
button {
  width: 18%;
  padding: 0.4rem;
}
p {
  color: red;
}
.success {
  color: #14d214;
}
@media (max-width: 768px) {
  button {
    width: 100%;
    padding: 0.4rem;
  }
}
